.header {
	position: relative;
	padding: 25px 0px;
	background-color: $gray-50;
	z-index: 10;

	@media screen and (max-width: $pad) {
		padding: 10px 0px;
		transition: padding .3s linear;
	}

	&__top-block {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__bottom-block {

		&_mobile {
			display: none;
			position: absolute;
			width: 100%;
			background-color: $gray-50;
			padding-bottom: 25px;
			border-radius: 0px 0px 16px 16px;
		}
		
		&_desktop {
			display: block;
			
			@media screen and (max-width: $pad) {
				display: none;
			}
		}
	}

	&__bottom-main-part {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-top: 10px;
		padding: 15px 0;

		@media screen and (max-width: $laptop) {
			border-top: 2px $purple solid;
			border-bottom: 2px $purple solid;
		}
		@media screen and (max-width: 600px) {
			flex-direction: column;
			align-items: center;
		}
	}

	&__nav {
	}

	&__menu {
	}

	&__link {
		color: $gray-900;
	}

	&__order-btn {
		padding: 10px 28px;

		@media screen and (max-width: 600px) {
			margin-top: 30px;
		}
	}

	&__bottom-sub-part {
		display: none;

		@media screen and (max-width: $laptop) {
			display: flex !important;
			justify-content: space-around;
			align-items: center;
			margin-top: 15px;
		}
		@media screen and (max-width: 600px) {
			flex-direction: column;
			row-gap: 15px;
		}
	}
}
.info {
	@media screen and (max-width: $pad) {
		display: none;
	}

	&_white {
		color: $gray-50;
	}
	&_black {
		color: $gray-900;
	}

	&__row {
		display: flex;
		align-items: center;
	}

	&__left-block {
		padding-right: 12px;
		border-right: 1px $purple solid;

		@media screen and (max-width: $laptop) {
			padding-right: 0;
			border: none;
			display: none;
		}
	}

	&__right-block {
		padding-left: 12px;
		border-left: 1px $purple solid;

		@media screen and (max-width: $laptop) {
			border: none;
		}
	}

	&__text {

		@media screen and (max-width: $laptop) {
			max-width: 230px;
			text-align: center;
		}
		@media screen and (max-width: 600px) {
			max-width: 300px;
		}
	}

	&__phone {
		font-size: 36px;
		font-style: normal;
		font-weight: 900;
		line-height: 40px;
		color: inherit;
		text-decoration: none;
		
		@media screen and (max-width: $desktop) {
			font-size: 30px;
		}
		@media screen and (max-width: $laptop) {
			font-size: 24px;
		}
	}

	&__big-text {
		font-weight: 300;
	}
}
.burger {
	display: none;
	
	@media screen and (max-width: $pad) {
		display: block;
	}
}
.nav {
}
.menu {
	display: flex;
	list-style: none;

	@media screen and (max-width: 600px) {
		flex-direction: column;
		align-items: center;
	}

	&__item {
		&:not(:first-of-type) {
			margin-left: 25px;

			@media screen and (max-width: 600px) {
				margin-top: 10px;
				margin-left: 0;
			}
		}
	}

	&__link {
		font-size: 16px;
		font-style: normal;
		font-weight: 700;
		line-height: 24px;
		text-decoration: none;
		transition: all .2s linear;

		&:hover {
			color: $purple;
		}
	}
}